<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />-->
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>Delta DataSCAPE&trade;</title>
</head>
<body class="mainBody" ng-app="dataSCAPEApp" ng-controller="homePageCtrl" style="overflow:hidden">
    <div ui-view></div>
    <!-- Load Bootstrap -->
    <link href="stylesheets/lib/bootstrap.css" rel="stylesheet" />
   <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link href="stylesheets/lib/datetimepicker.css" rel="stylesheet" />
    <link href="stylesheets/lib/angularjs-datetime-picker.css" rel="stylesheet" />
    <!-- <link href="stylesheets/css/style.css" rel="stylesheet" />
    <link href="stylesheets/css/help.css" rel="stylesheet" /> -->
    <link href="stylesheets/css/styles.css" rel="stylesheet" />    
    <link href="stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- UI Grid CSS -->
    <link href="stylesheets/lib/ui-grid.css" rel="stylesheet" />
    <link href="stylesheets/lib/ui-grid.eot" rel="stylesheet" />
    <link href="stylesheets/lib/ui-grid.svg" rel="stylesheet" />
    <link href="stylesheets/lib/ui-grid.ttf" rel="stylesheet" />
    <link href="stylesheets/lib/ui-grid.woff" rel="stylesheet" />
    <link href="stylesheets/lib/sweetalert.css" rel="stylesheet" />
    <link href="stylesheets/lib/pure-min.css" rel="stylesheet" />
    <!-- Lib JS includes -->
    <script src="js/lib/jquery-2.2.4.js"></script>
    <!-- Angular JS includes -->
    <script src="js/lib/angular.js"></script>
    <script src="js/lib/angularjs-datetime-picker.js"></script>
    <script src="js/lib/angular-ui-router.js"></script>
    <script src="js/lib/angular-animate.js"></script>
    <script src="js/lib/ui-bootstrap-tpls-0.14.2.js"></script>
    <script src="js/lib/ui-grid.js"></script>
    <script src="js/lib/angular-touch.js"></script>
    <script src="js/lib/pdfmake.min.js"></script>
    <script src="js/lib/apex-chart.js"></script>
    <script src="js/lib/csv.js"></script>
    <script src="js/lib/vfs_fonts.js"></script>
    <script src="js/lib/angular-messages.min.js"></script>
    <script src="js/lib/jasmine_2.3.3.min.js"></script>
    <script src="js/lib/angular-sanitize.min.js"></script>
    <script src="js/lib/bootstrap-treeview.min.js"></script>
    <script src="js/lib/angular-ui-switch.min.js"></script>
    <script src="js/lib/ng-file-upload.min.js"></script>
    <script src="js/lib/ng-file-upload-shim.min.js"></script>
    <script src="js/lib/moment.js"></script>
    <script src="js/lib/datetimepicker.js"></script>
    <script src="js/lib/datetimepicker.templates.js"></script>
    <script src="js/lib/jspdf.js"></script>
    <script src="js/lib/dsp.js"></script>
    <script src="js/lib/acwf-core.js"></script>
    <script src="js/lib/acwf-canvas.js"></script>
    <script src="js/lib/moment-timezone-with-data.min.js"></script>
    
    <!-- Library for Sweet Alert-->
    <script src="js/lib/sweetalert.min.js"></script>
    <!-- Bootstrap JS includes -->
    <script src="js/lib/bootstrap.js"></script>
    <script src="js/lib/csvparser.js"></script>
    <script src="js/lib/angular-breadcrumb.js"></script>
    <!-- Controller JS includes -->
   <script src="js/app.js"></script>
    <!-- Directive JS includes-->
      <script src="js/directives.js"></script>   
    <!-- Services JS includes -->
    <script src="js/model/constants.js"></script>
    <script src="js/model/cachedetails.js"></script>
     <script src="js/services.js"></script>
  </body>
</html>