@font-face {
    font-family: "MyriadPro-Bold";
    src: url("../fonts/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/MyriadPro-Bold.otf") format("opentype"), url("../fonts/MyriadPro-Bold.woff") format("woff"),
      url("../fonts/MyriadPro-Bold.ttf") format("truetype"),
      url("../fonts/MyriadPro-Semibold.svg#MyriadPro-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "MyriadPro-Regular";
    src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"),
      url("../fonts/MyriadPro-Regular.otf") format("opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"),
      url("../fonts/MyriadPro-Regular.ttf") format("truetype"),
      url("../fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "MyriadPro-Semibold";
    src: url("../fonts/MyriadPro-Semibold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/MyriadPro-Semibold.otf") format("opentype"), url("../fonts/MyriadPro-Semibold.woff") format("woff"),
      url("../fonts/MyriadPro-Semibold.ttf") format("truetype"),
      url("../fonts/MyriadPro-Semibold.svg#MyriadPro-Semibold") format("svg");
    font-weight: normal;
    font-style: normal;
  }

  body{
    font-family: "MyriadPro-Regular";
  }
.heading {
    font-family: calibri;
    font-size: 16px;
}

.connectButton {
    font-family: calibri;
    background-color: #cece00;
    font-weight: bold;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0%;
}

.disconnectButton {
    font-family: calibri;
    background-color: #9a9797;
    font-weight: bold;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0%;
}

.btnColorGrey, .btnColorGrey:hover, .btnColorGrey:focus {
    background-color: #3a3a3a;
    border: 1px solid #3a3a3a;
    color: #fff;
    margin-bottom: 10px;
    padding: 10px 30px;
  }
  .btnColorYellow, .btnColorYellow:hover, .btnColorYellow:focus {
    background-color: #baa329;
    margin-bottom: 10px;
    border: 1px solid #baa329;
    color: #fff;
    padding: 10px 30px;
  }

.onDemadRead {
    font-family: calibri;
    background-color: rgb(59, 59, 64);
    font-weight: bold;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #333;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 0%;
}