<form name="upload_form" ng-show="showDateFilter">
    <div class="modal-header">
        <h4 class="modal-title"><strong>Export File</strong></h4>
    </div>
    <div class="container-fluid">
        <div class="modal-body">
            <div class="row">
                <h4><strong>Billing Date to Export</strong></h5>
                    <div class="row">
                        <div class="col-xs-3 col-md-3 col-sm-3 col-lg-4">
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="startingDate"
                                    ng-change="setFromDate(startingDate)" is-open="datepickerPopUp.opened"
                                    datepicker-options="dateOptions" ng-required="true" close-text="Close"
                                    show-button-bar="false" readonly="readonly" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn-icon" ng-click="datePickerOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-3 col-md-3 col-sm-3 col-lg-2">
                        </div>
                        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                            <uib-timepicker ng-model="startingDate" ng-change="setStartTime(startingDate)"
                                hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"
                                class="timepicker demandTime" ng-required="true"></uib-timepicker>
                        </div>
                    </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btnColorYellow" ng-click="showGrid()">Export</button>
            <button type="button" class="btn btnColorGrey" ng-click="cancel()">Cancel</button>
        </div>
        <div class="modal-body" ng-hide="billingFile">
            <div class="row">
                <div ui-grid="billingFileGrid" style="height:30vh" ui-grid-exporter ui-grid-pagination
                    ui-grid-selection ui-grid-resize-columns>
                </div>
            </div>
        </div>
    </div>

</form>