<div class="title-wrapper mt-20" ng-show="isValidHostIframe">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <h4 class="pageTitle"><strong>Data Rate Report</strong></h4>
            </div>
        </div>
    </div>
</div>
<form name="form" ng-show="isValidHostIframe">
    <div class="date-wrapper mt-20">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-lg-10">
                <div class="row">
                    <div class="col-xs-3 col-md-3">
                        <div class="dropdown form-group select-dropdown-wrap">
                            <label>Select Report Type</label>
                            <select class="btn btn-secondary dropdown-toggle" ng-model="selectedReport"
                                    ng-options="report.name for report in reports" ng-change="changeReportType()"></select>
                        </div>
                    </div>

                    <div class="col-xs-3 col-md-1" style="padding-left : 0px">
                        <div class="dropdown form-group select-dropdown-wrap">
                            <select ng-model="selectedDeviceType" class="btn btn-secondary dropdown-toggle">
                                <option value="HyperSprout">Transformer</option>
                                <option value="HyperHub">HyperHUB&trade;</option>
                                <option value="Meter">Meter</option>
                                <option value="DeltaLink">DeltaLINK&trade;</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-3 col-md-4">
                        <div class="dropdown form-group form-group-horizontal">
                            <label>Start Time</label>
                            <div class="input-wrap dateFieldWidth">
                                <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown"
                                   data-target="#">
                                    <div class="input-group date">
                                        <input type="text" class="form-control" style="background-color: white;"
                                               data-ng-model="dateRangeStart" placeholder="Select Start Time" required
                                               disabled>
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="dateRangeStart"
                                                    data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed' }"
                                                    data-on-set-time="startDateOnSetTime()"
                                                    data-before-render="startDateBeforeRender($dates)">
                                    </datetimepicker>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-3 col-md-4">
                        <div class="dropdown form-group form-group-horizontal">
                            <label>End Time</label>
                            <div class="input-wrap dateFieldWidth">
                                <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown"
                                   data-target="#">
                                    <div class="input-group date">
                                        <input type="text" class="form-control" style="background-color: white;"
                                               data-ng-model="dateRangeEnd" placeholder="Select End Time" required disabled>
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="dateRangeEnd"
                                                    data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed' }"
                                                    data-on-set-time="endDateOnSetTime()"
                                                    data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)">
                                    </datetimepicker>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>

                </div>
                <div class="col-md-2 col-lg-2">
                        <button type="button" class="yellowBtn demandReadSettings" ng-click="update()"
                                ng-disabled="form.$invalid || selectedReport ==='Select Report Type'">
                            Create Report
                        </button>
                </div>

            </div>
        </div>
    </div>
</form>
<br>
<!--code for Grid starts-->
<div class="container-fluid" ng-hide="dataRateReport">
    <label>Data Rate Report</label>
    <div class="row">
        <div class="col-xs-4 col-md-4 col-sm-4 col-lg-6">

            <div class="search-blk report-search">
                <input class="form-control"
                       ng-model="searchTerm"
                       type="text"
                       placeholder="Search by DTC ID"
                       ng-change="searchButtonClear(searchTerm)">
                <button type="button" class="yellowBtn demandReadSettings" ng-click="searchDataRate(searchTerm)" ng-disabled="!searchTerm">
                    Search
                </button>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div ui-grid="dataRateOption" style="width: calc(100vw - 30px); height:55vh" ui-grid-exporter
                 ui-grid-pagination ui-grid-selection ui-grid-resize-columns>
                <div class="report-watermark" ng-show="!dataRateOption.data.length">
                    {{commonMsg}}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="header" ng-include="'pages/homePage_footer.html'" ng-show="isValidHostIframe"></div>
