<div class="title-wrapper mt-20" ng-show="isValidHostIframe">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <h4 class="pageTitle"><strong>Reports</strong></h4>
            </div>
        </div>
    </div>
</div>
<form name="form" ng-show="isValidHostIframe">
    <div class="date-wrapper mt-20">
        <div class="container-fluid">
            <div class="row">
                <!--code for Reports dropdown filter starts-->
                <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3">
                    <div class="dropdown form-group select-dropdown-wrap">
                        <label>Select Report Type</label>
                        <select class="btn btn-secondary dropdown-toggle" ng-model="selectedReport"
                            ng-options="report.name for report in reports" ng-change="changeReportType()"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<br>
<div id="header" ng-include="'pages/homePage_footer.html'" ng-if="isValidHostIframe"></div>

