<div class="phasorgraphContainer">
    <div class="phasor-graph-left">
        <form name="form">
            <div class="phasor-graph-dropdowns">
                <label>Select Device Type</label>
                <select ng-model="selectedDeviceType" ng-options="device for device in deviceTypes" ng-change="changeDeviceType()">
                </select>
            </div>

            <div class="phasor-graph-dropdowns">
                <label>Circuit ID</label>
                <select name="CircuitID" ng-model="selectedCircutID" ng-options="listcircuit.DTC for listcircuit in circuitList track by listcircuit.DTCID" ng-change="changeCircuitID()">
                </select>
            </div>

            <div class="phasor-graph-dropdowns">
                <label>Transformer ID</label>
                <select name="TransformerID" ng-model="selectedTransformerID" ng-options="listtransformer.HypersproutSerialNumber for listtransformer in transformerList track by listtransformer.TransformerID" ng-change="changeMeterID()">
                </select>
            </div>

            <div class="phasor-graph-dropdowns">
                <label>Meter ID</label>
                <select name="meterID" ng-model="selectedMeterID" ng-options="meter.MeterSerialNumber for meter in meterList track by meter.MeterID">
                </select>
            </div>

            <div class="phasor-graph-dropdowns">
                <button class="yellowBtn demandReadSettings" ng-disabled="!selectedMeterID" ng-click="fetchDataRate()">Proceed</button>
            </div>
        </form>
    </div>
    <div class="phasor-graph-right">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="datarateBlock">
                        <h5>Upload Rate(Mbps)</h5>
                        <div class="datarateValue"><img src="../assets/images/upload-arrow.png" alt=""/> {{ uploadRate}} </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="datarateBlock">
                        <h5>Download Rate(Mbps)</h5>
                        <div class="datarateValue"><img src="../assets/images/download-arrow.png" alt=""/> {{ downloadRate }} </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="datarateBlock">
                        <h5>Latency(ms)</h5>
                        <div class="datarateValue"><img src="../assets/images/device-latency.png" alt=""/> {{ latency }} </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>