<div class="row" ng-if="isValidHostIframe">
    <div class="col-xs-2 col-md-2 col-sm-4 col-lg-2">
        <!--<input class="form-control" ng-model="searchOutageCircuit" placeholder="Search By Circuit ID  &#128269;" type="text"
        ng-change="filterOutageCircuit()" />-->
        <input class="form-control" ng-model="searchOutageCircuit" placeholder="Search by DTC ID &#128269;" type="text" ng-change="filterOutageCircuit(searchOutageCircuit);">
        <div ui-grid="outageOptions" style="width: 95vw; height:55vh" ui-grid-exporter ui-grid-pagination ui-grid-selection ui-grid-resize-columns>
            <!--<div class="watermark" ng-show="!outageOptions.data.length">
                {{datagridMessage}}
            </div>-->
        </div>
    </div>
    <div class="col-xs-2 col-md-2 col-sm-4 col-lg-2">
        <input class="form-control" ng-model="searchOutageDevice" placeholder="Search By Device ID  &#128269;" type="text" ng-change="filterOutageDevice(searchOutageDevice)" />
    </div>
</div>